
html {
  height: 100%;
}

body {
font-family: 'Conv_gs', 'Gill Sans', Arial, sans-serif;
font-weight: lighter;
font-style: normal;
margin: 0;
height: 100%;
}

p, h2 {
  color: rgb(255,253,247);
  padding-left:3vw;
  padding-right:3vw;
  margin:0;
}

p {
  font-size: 100%;
  margin-top: 2vw;
}

p:first {
  margin-top: 0;
}

h2 {
  margin-top: 10vw;
  margin-bottom: 3vw;
  font-weight: lighter;
  text-align: center;
  letter-spacing: 5px;
}

.fullWidth {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  min-width: 100%;
  height: 100vh;
  background-color: white;
}

.fullwrap {
  display: block;
}

.halfWidth .left{
  box-sizing: border-box;
}

.halfWidth {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: 100vh;
  background-color: white;
}

.fixed {
  position: fixed;
  top: 0;
  z-index: 99;
  left: 0;
}

.left {
  float: left;
}

.right {
  float: right;
}

.separation-line:after {
    content:"";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 100%;
    border-left: 2px solid rgb(81, 130, 157);
}

section {
  position: relative;
}

.tall {
  height: 100vh;
  overflow: hidden;
}

.row {
  margin: 0 auto;
  max-width: 62.5rem;
  width: 100%;
}

[class~='blog'] {
  background-position: center center;
  background-repeat: repeat;
  opacity: 0.9;
}

.blog1 {
  background-color: rgb(111,178,214);
  background-position: center center;
  background-repeat: repeat;
  opacity: 0.9;
}

.blog2{
  background-color: rgb(47,155,214);
  background-position: center center;
  background-repeat: repeat;
  opacity: 0.9;
}

.blog3{
  background-color: rgb(30,99,137);
  background-position: center center;
  background-repeat: repeat;
  opacity: 0.9;
}


.blog4{
  background-color: rgb(238,187,62);
  background-position: center center;
  background-repeat: repeat;
  opacity: 0.9;
}

.blog5{
  background-color: rgb(28,50,89);
  background-position: center center;
  background-repeat: repeat;
  opacity: 0.9;
}

.blog6{
  background-color: rgb(69,158,182);
  background-position: center center;
  background-repeat: repeat;
  opacity: 0.9;
}

.blog7{
  background-color: rgb(121,242,242);
  background-position: center center;
  background-repeat: repeat;
  opacity: 0.9;
}

.blog8{
  background-color: rgb(114,122,166);
  background-position: center center;
  background-repeat: repeat;
  opacity: 0.9;
}

.blog9{
  background-color: rgb(1,3,38);
  background-position: center center;
  background-repeat: repeat;
  opacity: 0.9;
}*/


section h1 {
  text-align: center;
  color: rgb(181,206,220);
  font-size: 50px;
  margin-top: 150px;
}

#fourth p, #seventh p, #first p{
  color: rgb(50,50,50);
}

img {
  width: 100%;
}

#fade img {
  position:absolute;
  height:100vh;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.imageforMobile {
  display: none;
}

@media screen and (min-width: 1400px) {
  html { font-size: 1.25em; }
}

@media screen and (max-width: 700px) {
    .halfWidth {
      width: 100%;
      height: 100vh;
    }
    .left{
      width: 0%;
    }
    .imageforMobile {
      display: block;
      height: 100%;
      width: 100%;
    }
    .imageforMobile img {
      display: block;
      height: 100%;
      width: 100%;
    }
    p {
      padding-left:5vw;
      padding-right:5vw;
      font-size:14px;
    }
}
