body {
  /*font-family: 'Conv_gs', 'Gill Sans', Arial, sans-serif;
  font-weight: normal;;
  font-style: normal;*/
  background-image: url("background.jpg");
  color: rgb(255,253,247);
  text-shadow: 1.5px 1px 1px black;
  font-weight: lighter;
}

a.shadow-link {
  text-shadow: 1.5px 1px 1px black;
}

.img-circle {
  border-radius: 50%;
}

.person-details {
  text-align: center;
  font-size: 25px;
}

.wrapper {
  width: 100%;
  position: relative;
  height: 100%;
}



.wrapper > div > div {
  width: 100%;
  margin: auto;
}

/******************************************************************************/
/***************** Responsive styles ******************************************/
/******************************************************************************/


/*base larger screen styles*/
@media (min-width: 600px) {
  .wrapper > div {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .img-circle {
    width: 150px;
  }

}

/*base mobile styles*/
@media (max-width: 600px) {
  .img-circle {
    width: 150px;
  }
}
