/******************************************************************************/
/***************** Global resets **********************************************/
/******************************************************************************/

/* Default to no padding and margin
   Remove padding behaviour on widths */
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Conv_gs', 'Gill Sans', Arial, sans-serif;*/
  /*font-family: 'Voltaire', sans-serif;*/
  font-weight: normal;
  font-style: normal;
}

.menu {
  position: fixed;
  z-index: 500;
  right: 20px;
  top: 15px;
  color: white;
  padding: 7 0 7 7;
  width: 58px;
  text-align: center;
  line-height: 27px;
}

.menu a {
  cursor: pointer;
  font-size: 40px;
}

.menu a:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: 22px;
}

a:hover {
  text-decoration: underline;
}
