body {
font-family: 'Conv_gs', 'Gill Sans', Arial, sans-serif;
font-weight: normal;
font-style: normal;
margin: 0;
}

.fullWidth {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  min-width: 100%;
  height: 100vh;
  background-color: white;
}

.fullwrap {
  display: block;
}

.halfWidth .left{
  box-sizing: border-box;
}

.halfWidth {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: 100vh;
  background-color: green;
}

.fixed {
  position: fixed;
  top: 0;
  z-index: 99;
  left: 0;;
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}

section {
  position: relative;
}

.section-wrapper {

}

.tall {
  height: 100vh;
}

.paper-white {
  background-color: beige;
  background-position: center center;
  background-repeat: repeat;

}

.row {
  margin: 0 auto;
  max-width: 62.5rem;
  width: 100%;
}

.paper-blue {
  background-color: blue;
}


img {
  width: 100%;
}

#fade img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}


}

.menu {
  position: fixed;
  z-index: 500;
  right: 20px;
  top: 15px;
  padding: 7 0 7 7;
  cursor: pointer;
  font-size: 30px;
  line-height: 27px;
  width: 58px;

}
